---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading" style="padding: 30px 0">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% endif %}
                    <span class="meta">Posted by {{ page.author }} on {{ page.date | date: "%B %-d, %Y" }}</span>	
                </div>
            </div>
        </div>
    </div>
</header>





{% for post in site.posts %}
	
	{% if post.title != page.title and post.author == page.author %}
	
	<div class="float-left">
	<div class="recentpost" style="padding: 10px">
	
	<h4> Recently by the same author: </h4> 
	
	<hr class="style-one">
	
	<a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title"> {{ post.title }}</h2></a>
	
	{% if post.subtitle %}
		<h4 class="post-subtitle">{{ post.subtitle }}</h4>
	{% endif %}
	
	<p class="post-meta" style="margin-top: 5px;margin-bottom:5px; font-size: 0.8em">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
	
	<div class="notepad-index-post-tags" style="">
	{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
	</div> 
	
			{% for member in site.data.members %}
{% if member.name == page.author %} 

<hr class="style-one">

	<img src="{{ member.img }}" style="margin-top:0px; margin-bottom:5px; margin:auto; width:120px !important; border-radius: 50%;">
	
	<h3>{{ member.name }}</h3>
	
	<h4>{{ member.role }}</h4>
	
	{% if member.github %} 
	<a href="https://github.com/{{ member.github }}" title="Github"><img src="{{ "/img/icons/github-icon.png " | prepend: site.baseurl }}" style="height:50px; float:right; margin-bot:10px"></a>
	{% endif %}
	{% if member.gplus %}
	<a href="{{ member.gplus }}" title="Google Plus"><img src="{{ "/img/icons/gplus-icon.png " | prepend: site.baseurl }}" style="height:37px; float:right; margin-top:6px"></a>
	{% endif %}
	{% if member.url %}
	<a href="{{ member.url }}" title="Google Plus"><img src="{{ "/img/icons/url-icon.png "| prepend: site.baseurl }}" style="height:33px; float:right; margin-top:9px;  margin-right: 10px"></a>
	{% endif %}
	
{% endif %}
{% endfor %}
	
	</div>
	</div>
	
	{% assign recentpost = post.title %}
	
	{% endif %}
		
	{% break %}	
	
{% endfor %}

<!-- Also Interesting -->

{% assign relevantpostcount = 0 %}
{% for post in site.posts %}
	
	{% if post.title != page.title and post.title != recentpost %} 
	{% for tag in post.tags %}
	
		{% if page.tags contains tag and relevantpostcount == 0 %} 
		
		<div class="float-right">
		<div class="relevantpost" style="padding: 10px">
		
		
		<h4> You may find interesting: </h4> 
		
		<hr class="style-one">
		
		<a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title"> {{ post.title }}</h2></a>
		
		{% if post.subtitle %}
			<h4 class="post-subtitle">{{ post.subtitle }}</h4>
		{% endif %}
		
		<p class="post-meta" style="margin-top: 5px;margin-bottom:5px; font-size: 0.8em">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
		
		<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
		</div> 
		
		{% assign relevantpostcount = 1 %}
		
		{% continue %}	
		
		{% endif %}	
		
		{% if page.tags contains tag and relevantpostcount == 1 %} 
		
		<hr class="style-one">
		
		<a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title"> {{ post.title }}</h2></a>
		
		{% if post.subtitle %}
			<h4 class="post-subtitle">{{ post.subtitle }}</h4>
		{% endif %}
		
		<p class="post-meta" style="margin-top: 5px;margin-bottom:5px; font-size: 0.8em">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
		
		<div class="notepad-index-post-tags" style="">
		{% for tag in post.tags %}<a href="{{ site.baseurl }}/search/index.html#{{ tag | cgi_encode }}" title="Other posts from the {{ tag | capitalize }} tag">{{ tag | capitalize }}</a>{% unless forloop.last %}&nbsp;{% endunless %}{% endfor %}
		</div> 
		
		{% assign relevantpostcount = 2 %}
		
		{% break %}	
		
		{% endif %}	
		
	{% endfor %}
	{% endif %}
	
{% endfor %}

		</div>
		</div>

<!-- Post Content -->
{% include imagezoom.html %}

<article>
    <div id="content" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

				{{ content | markdownify }}

                <hr>

                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %}
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</article>

<hr>

{% include _comments.html %}

<hr>

