<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
		
		{% if site.altmetric == true %}

		{% include altmetric.html %}

		{% endif %}
		
		{% include ogmeta.html %}

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="{{"/css/reveal.min.css" | prepend: site.baseurl | prepend: site.url}}">
		<link rel="stylesheet" href="{{"/css/theme/default.css" | prepend: site.baseurl | prepend: site.url| replace: 'default',page.theme}}" id="theme"> <!-- This is where THEME --> 

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="{{"/lib/css/zenburn.css" | prepend: site.baseurl | prepend: site.url}}">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = '{{"/css/print/pdf.css" | prepend: site.baseurl}}';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>
			
		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
		
		<!-- Pygments Github CSS -->
		<link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl | prepend: site.url }}">
			
		{% include analytics.html %}
		
	</head>

	<body>
		<div class="reveal">
			<div class="slides">
{{ content }}
			</div>
		</div>
		
		<script src="{{"/lib/js/head.min.js " | prepend: site.baseurl}}"> </script>
		<script src="{{"/js/reveal.min.js " | prepend: site.baseurl}}"></script>
	
		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: '{{ page.trans }}', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '{{"/lib/js/classList.js" | prepend: site.baseurl}}', condition: function() { return !document.body.classList; } },
					{ src: '{{"/plugin/markdown/marked.js" | prepend: site.baseurl}}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{"/plugin/markdown/markdown.js" | prepend: site.baseurl}}', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '{{"/plugin/highlight/highlight.js" | prepend: site.baseurl}}', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '{{"/plugin/zoom-js/zoom.js" | prepend: site.baseurl}}', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '{{"/plugin/notes/notes.js" | prepend: site.baseurl}}', async: true, condition: function() { return !!document.body.classList; } },
        			{ src: '{{"/plugin/math/math.js" | prepend: site.baseurl}}', async: true }
				]
			});

		</script>		
	</body>
	

</html>
